<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHsKVizm_IvRHaOfF925fW7rd5fiNl7Wo</string>
	<key>GCM_SENDER_ID</key>
	<string>128886940991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.edtechApplication</string>
	<key>PROJECT_ID</key>
	<string>edtec-406111</string>
	<key>STORAGE_BUCKET</key>
	<string>edtec-406111.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128886940991:ios:396c36a1adf31e5a1adf8a</string>
</dict>
</plist>